

$foundation-palette: (
  primary: #b5b497,
  secondary: #cde2ce,
  success: #a8c1c5,
  warning: #ffae00,
  alert: #ec5840,
);

$button-color: black;

@import 'foundation';

// we want flex-grid which is now legacy extra!!
@include foundation-flex-classes;
@include foundation-flex-grid;

@include foundation-everything();

@import './theme';
@import './print';