@import './Colours.scss';

@import url(http://fonts.googleapis.com/css?Roboto:400,400italic,700italic,700);

$margin: 2em;
$header-icon-size: 50px;
$heading-font-size: 2em;
$font-size: 1.2em;

body {
  background-color: $header-bg;
  color: $text;
  overflow-wrap: break-word;
}

pre {
  white-space: pre-wrap;
}

// reset search input
input[type=search] {
  -webkit-appearance: textfield;
}

// With thanks to css-tricks https://css-tricks.com/overriding-default-button-styles/
button {
  display: inline-block;
  border: none;
  text-decoration: none;
  background-color: $tag-bg;
  color: $tag-text;
  padding: 1em 2em;
  font-size: 1em;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: lighten( $tag-bg, 2 );
}

button:focus {
  outline: 1px solid $tag-text;
  outline-offset: -1px;
}

button:active {
    transform: scale(0.99);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 1em $margin;
  background: $header-bg;

  a.iconbutton , a.iconbutton :visited {
    color: $link;
    text-decoration: none;
    font-weight: 500;
  }
}

.navigation {
  > * {
    display: inline-flex;
  }

  > form {
    display: flex;
  }

  a {
    min-width: 60px;
  }

  .icon {
    height: $header-icon-size;
    width: $header-icon-size;
  }

  input {
    font-size: 26px;
    height: 42px;
    border-style: none;
    position: relative;
    top: 4px;
  }

  input, button {
    &:focus {
      outline: none;
    }

    color: black;
  }

  .home, .shuffle {
    width: 120px;
  }

  .search {
    position: relative;
    display: none;

    .icon {
      position: absolute;
      right: 6px;
      width: 32px;
      z-index: 1;
      color: #555;
    }

    input {
      width: 200px;
      border-radius: 44px;
      padding: 0 16px;
      text-align: center;
      color: lighten( $text, 20% );
    }

    @media(min-width: 700px) {
      display: flex;
    }
  }

  .shuffle {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;

    input {
      width: 60px;
      background: transparent;
      text-align: right;
    }

    button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}

.app {
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1em $margin;
  background: $header-bg;

  .icon {
    width: 44px;
    height: 44px;
  }
}

.article, .editor {
  padding: 1em $margin;
}

.article:nth-child(even) {
  background-color: $colour-c;
}

.article:nth-child(odd) {
  background-color: $colour-b;
}

.article {
  h2 {
    font-size: $heading-font-size;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 1em;
  }

  a, a:visited {
    color: $link;
    text-decoration: none;
    font-weight: 500;
  }

  .content {
    font-size: $font-size;
  }

  .tags {
    font-size: $font-size * 0.8;
  }
}

.tags {
  text-align: center;
  padding: 1em;
}

.app > .tags {
  background: $colour-c;
  padding: $margin;
}

.tag {
  display: inline-block;
  margin: 2px;
}
.tag {
  background-color: $tag-bg;
  color: $tag-text;
  border-radius: 2px;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0.25em;
}

.editor {
  .react-mde {
    border: none;
    margin-bottom: 1em;

    .grip {
      background: transparent;
      border: none;

      .icon {
        position: relative;
        top: -5px;
      }
    }

    .mde-header {
      background: rgba( black, 0.2 );
      border: none;

      button {
        // reset BAMdealist button style
        padding: 0.5em;
        color: black;
      }
    }
  }

  textarea {
    background-color: $background;
    color: $text;
  }

  .editor-title {
    textarea {
      font-size: $heading-font-size;
    }    

    .grip {
      display: none;
    }
  }

  .editor-content textarea,
  .editor-content .mde-preview {
    font-size: $font-size;
  }

  .editor-tags {
    font-size: $font-size * 0.8;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    background: transparent;
    word-spacing: 0.5em;
    padding: 0;
  }

  .editor-save {
    margin-top: 2em;
    float: right;
    font-weight: 500;
    font-size: 1.2em;
  }
}
