@import './Colours.scss';

$margin: 2em;
$header-icon-size: 50px;

body {
  background-color: $background;
  color: $text;
}

a, a:visited {
  color: $link;
  text-decoration: none;
}

// reset search input
input[type=search] {
  -webkit-appearance: textfield;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1em $margin;
  background: $header-bg;

  > * {
    display: inline-flex;
  }

  > form {
    display: flex;
  }

  a {
    min-width: 60px;
  }

  .icon {
    height: $header-icon-size;
    width: $header-icon-size;
  }

  input {
    font-size: 26px;
    height: 42px;
    border-style: none;
    position: relative;
    top: 4px;
  }

  input, button {
    &:focus {
      outline: none;
    }
  }

  .home, .shuffle {
    width: 120px;
  }

  .search {
    position: relative;

    .icon {
      position: absolute;
      right: 6px;
      width: 32px;
      z-index: 1;
      color: #555;
    }

    input {
      width: 200px;
      border-radius: 44px;
      padding: 0 16px;
      text-align: center;
      color: lighten( $text, 20% );
    }
  }

  .shuffle {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;

    input {
      width: 60px;
      background: transparent;
      text-align: right;
    }

    button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}

.app {
  margin: $margin;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.tags {
  text-align: center;
}

.tag {
  display: inline-block;
  margin: 2px;
}
.tag {
  background-color: dimgray;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0.25em;
}
