@import './Colours.scss';

body {
  background-color: $background;
  color: $text;
}

a, a:visited {
  color: $link;
  text-decoration: none;
}

.app {
  margin: 2em;
}

.tags {
  text-align: center;
}

.tag {
  display: inline-block;
  margin: 2px;
}
.tag {
  background-color: dimgray;
  color: white;
  border-radius: 2px;
  text-decoration: none;
  padding: 2px 8px;
  margin: 0.25em;
}
